- let COMPONENTS = {}
- let linkPrefix = (buildMode=='devel'||!settings.cdn)?(v)=>file(v):(v)=>settings.cdn+v
- let colors = ['blue','green','yellow','orange','red','purple','brown']

include /components/KContentTable.pug
include /components/KFooter.pug
include /components/KNavigationBar.pug
include /components/KNextPage.pug
include /components/KPageNavigator.pug

include /mixins/components.pug

mixin meta(des,key)
    link(rel="icon",href=file("files/icon.svg"))
    meta(charset="utf-8")
    meta(name="viewport",content="width:device-width,initial-scale=1.0")
    meta(name="author" content=user.name)
    meta(name="description" content=des.toString())
    meta(name="keywords" content=Array.isArray(key)?key.join(" "):key)
    meta(http-equiv="content-language" content=settings.language)

mixin BasicStyleSheet()
    link(rel="stylesheet",href=linkPrefix('/files/style.css'))

mixin BasicECMAScript()
    - // SOME VOID

mixin use(name)
    if COMPONENTS[name]
        each v in COMPONENTS[name]
            if v.substring(1,0) == 'C'
                link(rel="stylesheet",href=linkPrefix(v.substring(1)))
            else if v.substring(1,0) == 'J'
                script(src=linkPrefix(v.substring(1)))