footer.uWcon
    .cLinks
        each v,k in theme.footerLinks
            nav
                h3= i18n(k)
                each i,n in v
                    if i.type == 'Link'
                        a(href=i.target)= i18n(n)
                    else if i.type == 'Icon'
                        if i.target == 'Fewu'
                            a!= fewu.logo()
                        else if i.target == 'Simplus'
                            a.logo-of-theme
                    else if i.type == 'Text'
                        span= i18n(i.target)
                    else if i.type == 'JS/Each'
                        - let target = i.target.split('+')
                        - let sourceFrom= {}, fnc= ()=>{}
                        if target[0] == 'Contact'
                            - sourceFrom = user.data?.contact ?? {}
                        if i.renderAs == 'Link'
                            - fnc = (v,k)=>`<a href="${v}">${i18n(k)}</a>`
                        else if i.renderAs == 'Plain'
                            - fnc = (v,k)=>`<span>${i18n(v)}</span>`
                        each v,k in sourceFrom
                            != fnc(v,k)
    br
    hr
    .cCopyr.tac
        != new Date().getFullYear()+ ' '
        != theme.useDefaultCopyrightText?i18n('@COPYR_TEXT'):user.copyright