- COMPONENTS['KPageNavigator']=[ 'Cfiles/components/KPageNavigator.css' ]

mixin KPageNavigator(total,now,name)
    ul.KPageNavigator
        - let disable_all = total==1
        - let enable_prev = !disable_all&&now!=1
        - let enable_next = !disable_all&&now!=total
        - let limit_front = now ==1 ? 1 :now >= 3 ? now - 2 : 1
        - let limit_end = now == total ? total : now + 2 < total ? now + 2 : total
        if now >= 3
            li
                a(href=file(`/${name}/1`))= 1
        if now > 3
            li
                a.disabled ...
        - let iter_num = limit_front
        while iter_num <= limit_end
            if iter_num!=now
                li
                    a(href=file(`/${name}/${iter_num}`))= iter_num++
            else
                li.now
                    a= iter_num++
        if total - now > 3
            li
                a.disabled ...
        if total - now >=3
            li
                a(href=file(`/${name}/${total}`))= total