include /mixins/script.pug
include /mixins/post_script.pug
doctype html 
html(lang="zh")
    head 
        +prelude(post)
        +meta(post)
        +gbase()
        title= __title__(post.title,'read')
    body.colorful(OCP='OVERRIDE',style='--color1:'+Plugin.getColorByString(post.foreword)+';--color2:'+Plugin.getColorByString(post.parsed.foreword))
        +NavBar
        +PageLabel
        main
            unless post.old == true
                .uWcon.small
                    h2= i18n('Foreword')
                    != post.parsed.foreword
            .uWcon
                article#markdown_fillContent
                    if post.old == true
                        != post.parsed.foreword
                    != post.parsed.content
            .uWcon.fit(class=post.license.isCreativeCommons()&&'cclogo')
                +license_notice(post)
            .uWcon
                .pagination
                    - let earliest = post.nextID?false:true
                    - let latest = post.prevID?false:true
                    - let __prev = IDMap.get(post.prevID)
                    - let __next = IDMap.get(post.nextID)
                    a.arrow.left.nowrap(href=!latest&&file(__prev.paths.website),class=latest?'disabled':'')
                        = '← '
                        = latest?i18n('Already latest'):__prev.title
                    a.arrow.right.nowrap(href=!earliest&&file(__next.paths.website),class=earliest?'disabled':'')
                        = earliest?i18n('Already earliest'):__next.title
                        = ' →'
                    a.top(href='#')= i18n('Top')
        +Footer
        .fix#toc
        .fix.toc-con-button.nomobile
            button= 'TOC'