include /mixins/script.pug
doctype html
html
    head 
        +meta(user.note,user.keyword||'')
        +BasicStyleSheet
        title= __title__(i18n('Status'),user.name)
    body(OCP='OVERRIDE')
        +NavBar
        +PageLabel(i18n('Status'))
        main.uWcon
            +Counter
            h2= i18n('All categories')
            ul.cSortCon
                each i in site.used_categories
                    li
                        a
                            b= i
                            small= i18n(site.categories[i].included.length+' in total')
            h2= i18n('All tags')
            ul.cSortCon
                each i in site.used_tags
                    li
                        a
                            b= i
                            small= i18n(site.tags[i].included.length+' in total')
            header
                    h2= i18n('Local information')
                    small= i18n('@STAT_PRO_WARN')
            section
                div 
                    each v,k in CONSTANTS
                        div
                            b=k+'='
                            i=v
        +Footer
        include /components/searchPanel.pug